.rezervacije {
    width: 100%;
    min-height: 100vh;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.793),
            rgba(0, 0, 0, 0.809)
        ),
        url("../assets/images/cenovnik.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #111 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Logo{
    width: 180px;
    height: auto;
}

.Logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;

    width: fit-content;  
    margin: 0 auto;         
}

.login_page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.login_card{
    width: 100%;
    max-width: 650px;         
    background: rgba(18, 18, 18, 0.95);   
    border: 1px solid #d4a34e60;  
    border-radius: 6px;       
    padding: 50px; 
}

.naslov{
    color: white;
    display: block;
    text-align: center;
    font-size: 43px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.linija{
      width: 48px;
    height: 2px;
    background: #C9A24B;
    margin: 16px auto 24px;
}

.tekst{
    display: flex;
    flex-direction: column;   
    align-items: center;      
    gap: 5px;               
    letter-spacing: 1px;
    color: #bebbb4;
    margin: 5px;
}

.login_forma{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
    align-items: center;
    justify-content: center;

}

.t{padding-bottom: 10px;}

.login_klasa{
    display: flex;
    flex-direction: column;
    color: #bebbb4;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.login_klasa input {
    width: 100%;
    height: 30px;
    padding: 8px 28px;
    box-sizing: border-box;

    background: #111;
    color: white;

    border: 1px solid #444;
    border-radius: 5px;

    font-size: 15px;
    outline: none;
}

.login-zabor{
   text-align: right;
   font-size: 9px;
   padding-top: 9px;
   text-decoration: none;
   color: #C9A24B;
   
}

.login_button{
    
    padding: 12px 85px;   
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.749);
    text-transform: uppercase;

    color: #C9A24B;

    border: 1px solid #C9A24B;
    border-radius: 5px;

    font-size: 15px;
    outline: none;

    align-self: center;
    
    
}

.login_button:hover{
cursor: pointer;
background-color:#C9A24B;
transition: background-color 0.2s ease, color 0.2s ease;
color:black;

}

.siva_linija{
    width: 79px;
    height: 1px;
    background: #444;
    margin: 16px 35px 24px;
}

.poravnanje{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #bebbb4;
    font-size: 14px;
    letter-spacing: 1px;
}

.login-registracija{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: #bebbb4;
}

.reg{
    color: #C9A24B;
}

@media (max-width: 600px) {
    .login_card h1 {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .login_card h1 {
        font-size: 25px;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   

}

@media (max-width: 480px) {
    .login_card {
        width: 90%; 
        padding: 1.5rem; 
    }

    .naslov {
        font-size: 24px; 
    }

    .login_klasa input {
        font-size: 13px; 
    }

    .login_klasa label {
        font-size: 11px;
    }

    .tekst p {
        font-size: 13px;
    }
}